/* Estilos globales */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

/* Contenedor principal */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

/* Botones */
button {
  padding: 10px 20px;
  border: none;
  background-color: #1976d2;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #115293;
}

/* Enlaces */
a {
  text-decoration: none;
  color: #1976d2;
}

a:hover {
  text-decoration: underline;
}

/* Estilos para las tarjetas de películas */
.movie-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s;
  min-width: 220px; /* Añadido para un tamaño mínimo consistente */
}

.movie-card img {
  width: 100%;
  height: auto;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-details {
  padding: 15px;
}

.movie-details h4 {
  margin: 0 0 10px;
  font-size: 1.25rem;
  color: #1976d2;
}

.movie-details p {
  font-size: 0.9rem;
  color: #555;
}

/* Paginación */
.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination-container .MuiPaginationItem-root {
  color: #1976d2;
}

/* Estilos adicionales */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  cursor: pointer;
}

.card {
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.MuiButton-containedPrimary {
  background-color: #1976d2;
}

.MuiButton-containedPrimary:hover {
  background-color: #1565c0;
}

/* Responsivo */
@media (max-width: 768px) {
  .movie-card {
    margin-bottom: 20px;
  }
}
